tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style16
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl67
	{mso-style-parent:style0;
	color:#333333;
	vertical-align:top;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	vertical-align:top;}
.xl69
	{mso-style-parent:style0;
	color:#303030;
	text-align:left;
	vertical-align:top;
	white-space:normal;}
.xl70
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;}
.xl71
	{mso-style-parent:style0;
	color:#333333;
	font-size:12.0pt;
	font-family:Muli;
	mso-generic-font-family:auto;
	mso-font-charset:1;}
.xl72
	{mso-style-parent:style0;
	text-align:center;}
.xl73
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	text-align:center;
	background:red;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	text-align:center;
	background:#F8CBAD;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	text-align:center;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	text-align:center;
	background:#F8CBAD;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:red;
	text-align:center;
	background:red;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;}
.xl80
	{mso-style-parent:style0;
	text-align:center;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	color:#303030;
	text-align:center;
	vertical-align:top;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:#333333;
	text-align:center;
	vertical-align:top;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	mso-number-format:0%;
	text-align:center;}
.xl84
	{mso-style-parent:style0;
	text-align:center;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl92
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl93
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:top;}
.xl95
	{mso-style-parent:style0;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl96
	{mso-style-parent:style0;
	color:#111111;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl97
	{mso-style-parent:style0;
	color:black;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	color:black;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl99
	{mso-style-parent:style0;
	color:black;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl100
	{mso-style-parent:style0;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl101
	{mso-style-parent:style0;
	color:windowtext;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl102
	{mso-style-parent:style0;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl103
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#AEAAAA;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:red;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl109
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl110
	{mso-style-parent:style0;
	color:red;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:red;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:red;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl113
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl114
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl115
	{mso-style-parent:style0;
	color:#333333;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl116
	{mso-style-parent:style0;
	mso-number-format:0%;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl117
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:red;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#F8CBAD;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#F8CBAD;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	color:black;
	font-family:"Source Sans Pro";
	mso-generic-font-family:auto;
	mso-font-charset:1;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl122
	{mso-style-parent:style0;
	color:windowtext;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl123
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl125
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#F8CBAD;
	mso-pattern:black none;}
.xl126
	{mso-style-parent:style0;
	color:black;
	font-family:"Source Sans Pro";
	mso-generic-font-family:auto;
	mso-font-charset:1;
	text-align:center;
	border:.5pt solid windowtext;}
.xl127
	{mso-style-parent:style0;
	color:#333333;
	text-align:center;
	vertical-align:top;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl128
	{mso-style-parent:style16;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl129
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border:.5pt solid windowtext;}
.xl130
	{mso-style-parent:style0;
	mso-number-format:"\#\,\#\#0\\ \0022€\0022\;\[Red\]\\-\#\,\#\#0\\ \0022€\0022";
	text-align:center;
	border:.5pt solid windowtext;}
.xl131
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#B4C6E7;
	mso-pattern:black none;}
.xl132
	{mso-style-parent:style0;
	mso-number-format:0%;
	text-align:center;
	border:.5pt solid windowtext;}
.xl133
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#BDD7EE;
	mso-pattern:black none;}
.xl134
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#BDD7EE;
	mso-pattern:black none;}
.xl135
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl136
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid black;
	background:#D9E1F2;
	mso-pattern:black none;}
.xl137
	{mso-style-parent:style0;
	border:.5pt solid black;}
.xl138
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl139
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl140
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl141
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid black;}
.xl142
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl143
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;}
.xl144
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl145
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl146
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl147
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl148
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;}
.xl149
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;}
.xl150
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#FFC000;
	mso-pattern:black none;}
.xl151
	{mso-style-parent:style0;
	text-align:center;
	background:yellow;
	mso-pattern:black none;}
.xl152
	{mso-style-parent:style0;
	text-align:center;
	background:#00B0F0;
	mso-pattern:black none;}
.xl153
	{mso-style-parent:style0;
	text-align:center;
	background:#FFC000;
	mso-pattern:black none;}
.xl154
	{mso-style-parent:style0;
	text-align:center;
	background:#A9D08E;
	mso-pattern:black none;}
.xl155
	{mso-style-parent:style0;
	text-align:center;
	background:#CD03FF;
	mso-pattern:black none;}
